<!doctype html>
<html lang="en">
    <head>
        <title>CSC 591 - Cricket Statistics Visualizations</title>
        <link rel="stylesheet" href="styles/style.css" type="text/css" />
        <link rel="stylesheet" href="styles/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" />
    </head>
    <body>
    <nav id="vizNav">
        <ul id="vizList">
                <li id="vizBasicGlobe" class="first">World Cup Globe</li>
                <li id="vizCartGlobe">Cartogram Globe</li>
                <li id="vizTeamPerf">Team Performance</li>
                <li id="vizBatStats">Batting Stats</li>
                <li id="vizAllTeamGroundPerf">All Team Ground Performance</li>
                <li id="vizCompareTeams">Compare Team Performance</li>
                <li id="vizHeadToHead">Head to Head</li>
                <li id="vizSeriesPerf">Series Performance</li>
                <li id="vizTeamPerfOnGround">Team Performance on Ground</li>
        </ul>
        <div id="vizListLabel">
            <div><span>V</span></div>
            <div><span>I</span></div>
            <div><span>S</span></div>
            <div><span>U</span></div>
            <div><span>A</span></div>
            <div><span>L</span></div>
            <div><span>I</span></div>
            <div><span>Z</span></div>
            <div><span>A</span></div>
            <div><span>T</span></div>
            <div><span>I</span></div>
            <div><span>O</span></div>
            <div><span>N</span></div>
            <div><span>S</span></div>
        </div>
    </nav>
    <div id="container"></div>
    <div id="optionsMenu"></div>
    <div id="cartogramSvgChart"></div>
    <canvas id="svgCanvas" width="2048px" height="1024px"></canvas>

    <script id="fragment_shader_screen" type="x-shader/x-fragment">
        varying vec2 vUv;
        uniform sampler2D tDiffuse;

        void main() {
            gl_FragColor = texture2D(tDiffuse, vUv);
        }
    </script>
    <script id="fragment_shader_pass_1" type="x-shader/x-fragment">
        varying vec2 vUv;
        uniform float time;

        void main() {
            float r = vUv.x;
            if (vUv.y < 0.5) r = 0.0;
            float g = vUv.y;
            if (vUv.x < 0.5) g = 0.0;

            gl_FragColor = vec4(r, g, time, 1.0);
        }
    </script>
    <script id="vertex_shader" type="x-shader/x-vertex">
        varying vec2 vUv;

        void main() {
            vUv = uv;
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
        }
    </script>
    <script type="text/template" id="team-item-template">
      <div class="team <%= selected ? 'selected' : '' %>">
          <div class="tListCBox <%= needsCheckbox ? 'needsCheckbox' : ''%>">
            <input class="tListCheck" type="checkbox" <%= selected ? 'checked="checked"' : '' %> />
          <div class="team-item-text"></div>
          <span class="todo-destroy"></span>
        </div>
      </div>
    </script>


    <script src="scripts/jquery.js" ></script>
    <script src="scripts/ui/jquery.easing.1.3.js"></script>
    <script src="scripts/ui/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="scripts/d3/d3.js"></script>
    <script src="scripts/d3/d3.geo.js"></script>
    <script src="scripts/d3/d3.geom.js"></script>
    <script src="scripts/d3/d3.layout.js"></script>
    <script src="scripts/js/highcharts.js"></script>
    <script src="scripts/three/RequestAnimationFrame.js" ></script>
    <script src="scripts/three/Three.js"></script>
    <script src="scripts/canvg/rgbcolor.js"></script>
    <script src="scripts/canvg/canvg.js"></script>
    <script src="scripts/globe/jQuery.radmenu.js"></script>
    <script src="scripts/globe/globe_mod.js"></script>
    <script src="scripts/globe/basic_globe.js"></script>
    <script src="scripts/globe/cartogramGlobe.js"></script>
    <script src="scripts/charts/compareTeams.js"></script>
    <script src="scripts/charts/battingStat.js"></script>
    <script src="scripts/charts/allTeamPerformanceOnGround.js" ></script>
    <script src="scripts/charts/teamPerformanceOnGround.js" ></script>
    <script src="scripts/charts/teamPerformance.js"></script>
    <script src="scripts/charts/headToHead.js"></script>
    <script src="scripts/charts/seriesPerformance.js"></script>
    <script src="scripts/ui/jquery.hoverIntent.minified.js"></script>
    <script src="scripts/ui/menu.js"></script>
    <script src="scripts/scripts.js"></script>
    </body>
</html>
