body {
    color: #ffffff;
    background-color: #000000;
    margin: 0px;
	overflow: hidden;
	font-family: 'Garamond';
	background-image:url(../images/cricketball2.jpg);
	background-repeat:no-repeat;
	background-position: top center;
	background-size:contain;
	//opacity:.8;
}

/*#background {
	z-index:1;
	background:url(../images/cricketball.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:contain;
	height:100%;
	width:100%;
	opacity:0.80;
}*/

#container {
	//background:url(../images/cricketball.jpg);
	//background-repeat:no-repeat;
	//background-position: top center;
	//background-size:contain;
	background-color:transparent;
	width:100%;
	height:100%;
	margin: 0px;
	padding:0px;
}

#vizList {
	z-index:10000;
    position: absolute;
    left: 20px;
    top: 63px;
    color: #CCC;
    background-color: rgba(0,0,0,0.2);
    //border-top: 1px solid rgba(255,255,255,0.4);
    padding: 10px;
	list-style:none;
	cursor:pointer;
}

/*.menuPos1 ul {
    position: absolute;
    left: 20px;
    top: 63px;
    color: #CCC;
    background-color: rgba(0,0,0,0.2);
    //border-top: 1px solid rgba(255,255,255,0.4);
    padding: 10px;
	list-style:none;
}*/

/*#optionsMenu{
	position: absolute;
	bottom: 0%;
	left: 0%;
	z-index:100;
	width: 100%;	
	height: 20em;
  	background: rgba(0, 0, 0, 0.70);  	
	box-shadow: 0px 0px 0.125em rgba(0, 0, 0, 0.95);	
}*/
 
.menu {
	position: absolute;
	//bottom: 0%;
	bottom: 10px;
	left: 0%;
	z-index:100;
	width:10em;
 	//height: 5.5em; 	
  	position: absolute; 	
  	overflow:none;
 	border-left: 1px solid rgba(50, 50, 200, 0.6);
	border-bottom: 1px solid rgba(50, 50, 200, 0.6);
	background: rgba(0, 0, 0, 0.40);  	
	box-shadow: 0px 0px 0.125em rgba(0, 0, 0, 0.95);	
}

.menuPos0 {
	height: 30.5em;
	//width: 220px;
	//overflow:auto;
}

.menuPos1 {
	//height: 20.5em;
	//width: 220px;
	left: 10em;
}

.menuLabel {
  	position: absolute;
	top: 2px;
  	//bottom: 1.4em;
  	padding-left: .5em;
	padding-bottom: 4px;
  	font-size: .8em;
  	text-transform: uppercase;
}

.menu ul {
	list-style:none;
	cursor: pointer;
	padding-left: .5em;
	margin-top: 20px;
}

.menu ul li.selected {
	background: rgba(25, 25, 150, 0.5);
}
 
#menuPos0, #menuPosLabel0 {left: 5%;}
#subContinent, #subContinentLabel {left: 23.2%;}
#country, #countryLabel {left: 41.4%;  }

/*#vizNav {
	position: absolute;
    //left: 50%;
    bottom: 6px;
	width:50%;
	//margin:auto;
	margin: 0 auto;
	z-index: 1000;
}

nav {
	z-index:1000;
	position:absolute;
	bottom:6px;
    height: 44px;
    width: 100%;
    background-image: -webkit-gradient(
            linear, 
            0% 0%, 
            0% 100%, 
            from(#54b850),
            to(#54b850),
            color-stop(0.5,#6fce93)
        );
    background-image:-moz-linear-gradient(
            top, 
            #54b850, 
            #6fce93,
            #54b850);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b850', endColorstr='#6fce93');
}

nav ul {
    height: 100%;
    width: 960px;
	margin-left: 0;
	padding-left: 0;
	//width:100%;
	//margin: auto auto;
    //margin-left: auto;
    //margin-right: auto;
}

nav ul li {
	padding: 3px 15px;
    display: inline;
    position: relative;
    float: left;
	text-align:center;
    //width: 106px;
    height: 100%;
    border-left: 1px solid #999999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	cursor:pointer;
    background-repeat: no-repeat;
    background-position: center center;
    
}

nav ul li.first {
    border-left:none;    
}*/

.team {
    font: 16px;
	cursor:pointer;
}

.team.active {
    //font-size: 23px;
    //color:#00F;
}

#fakeImage {
    visibility:hidden;
}

#cartogramSvgChart {
  width: 960px;
  height: 500px;
  visibility:hidden;
  //background:url(../images/globeTexture.jpg);
}

circle {
  stroke: #000;
  stroke-width: .5px;
}

#canvasSvg {
	visibility:hidden;
}

#radial_container { 
	position:relative;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	//left:425px; 
	//top: 75px; 
	//width:100px; 
	//height:100px; 
	text-align:center;
}
.radial_div_yearItem {
	background-color:none;
	height:30px;
	//padding:10px;
	color:#234;
	//-moz-border-radius:40px;
	//-webkit-border-radius:40px;
	cursor:pointer;
}
.radial_div_yearItem.active { 
	background-color:#511; color:white;
	padding: 10px; 
	//-moz-border-radius:40px;
	z-index:100;
}
.yearItemText { 
	font-size:1.5em;
	color:#00F;
	background-color:#def;
	//-moz-border-radius:50px;
	width:30px;
	height:30px;
	-webkit-border-radius:80px;
}
