body {
    color: #ffffff;
    background-color: #000000;
    margin: 0px;
}

.teamList {
    position: absolute;
    left: 20px;
    top: 63px;
    color: #CCC;
    background-color: rgba(0,0,0,0.2);
    //border-top: 1px solid rgba(255,255,255,0.4);
    padding: 10px;
	list-style:none;
}

/*#vizNav {
	position: absolute;
    //left: 50%;
    bottom: 6px;
	width:50%;
	//margin:auto;
	margin: 0 auto;
	z-index: 1000;
}*/

nav {
	z-index:1000;
	position:absolute;
	bottom:6px;
    height: 44px;
    width: 100%;
    /*background-image: -webkit-gradient(
            linear, 
            0% 0%, 
            0% 100%, 
            from(#54b850),
            to(#54b850),
            color-stop(0.5,#6fce93)
        );
    background-image:-moz-linear-gradient(
            top, 
            #54b850, 
            #6fce93,
            #54b850);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b850', endColorstr='#6fce93');*/
}

nav ul {
    height: 100%;
    width: 960px;
	margin-left: 0;
	padding-left: 0;
	//width:100%;
	//margin: auto auto;
    //margin-left: auto;
    //margin-right: auto;
}

nav ul li {
	padding: 3px 15px;
    display: inline;
    position: relative;
    float: left;
	text-align:center;
    //width: 106px;
    height: 100%;
    border-left: 1px solid #999999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	cursor:pointer;
    background-repeat: no-repeat;
    background-position: center center;
    
}

nav ul li.first {
    border-left:none;    
}

.team {
    font: 16px;
	cursor:pointer;
}

.team:hover, .team.active {
    font-size: 23px;
    color: #fff;
}

#fakeImage {
    visibility:hidden;
}

#chart {
  width: 960px;
  height: 500px;
  visibility:hidden;
}

circle {
  stroke: #000;
  stroke-width: .5px;
}

#canvasSvg {
	visibility:hidden;
}
